@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --r-main-font: 'Noto Sans JP', 'Source Sans Pro', Helvetica, sans-serif;
    --r-heading-font: 'Noto Sans JP', 'Source Sans Pro', Helvetica, sans-serif;
    --r-code-font: 'M PLUS 1 Code', monospace;
    --r-main-font-size: 32px;
    --r-heading-text-transform: none;
}

.reveal {
    background-image: url('/img/background.png');
    /* background-image: linear-gradient(forestgreen, darkslategray); */
    background-size: cover;
    background-position: center top;
    color: #001933;
}

.slide-grid {
    background-color: rgba(255, 255, 255, 0.75);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.8);
    width: 1280px;
    height: 720px;
}

#sec-title-slide .slide-grid {
    position: relative;
}
    
.title-grid {
    background-color: rgba(0, 128 ,0, 0.5);
    padding: 20px 20px 20px 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    box-sizing: border-box;
}

.slide-grid h1,
.slide-grid h2,
.slide-grid h3 {
    background-color: rgba(0, 128 ,0, 0.5);
    padding: 20px 20px 20px 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.slide-grid p {
    text-align: justify;
    text-indent: 1em;
    width: 100%;
    margin: 0;
    padding: 0.5em 2em 0.5em 2em;
    box-sizing: border-box;
}

/* 第1レベルのスタイル */
.slide-grid ul,
.slide-grid ol {
    list-style-position: inside;
    margin: 0;
    padding: 0.5em 2em 0.5em 2em; /* インデント */
    font-size: 120%;
    font-weight: bold;
}

.slide-grid ul {
    list-style-type: square; /* マーカーの形式 */
}

.slide-grid ol {
    list-style-type: upper-latin;
}

.slide-grid ul li,
.slide-grid ol li {
    text-indent: -1.3em;
    padding-bottom: 0.3em;
}

/* 第2レベルのスタイル */
.slide-grid ul ul,
.slide-grid ul ol,
.slide-grid ol ul,
.slide-grid ol ol {
    list-style-position: inside;
    margin-left: 0;
    padding-right: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 85%;
    font-weight: normal;    
}

.slide-grid ul ul,
.slide-grid ol ul {
    list-style-type: circle; /* マーカーの形式 */
}	

/* 第二レベル以降（子リスト） */
.slide-grid ul ol, 
.slide-grid ol ol {
    list-style-type: decimal; 
}

/* 第3レベルのスタイル */
.slide-grid ul ul ul,
.slide-grid ul ul ol,
.slide-grid ul ol ul,
.slide-grid ul ol ol,
.slide-grid ol ul ul,
.slide-grid ol ul ol,
.slide-grid ol ol ul,
.slide-grid ul ul ol {
  font-size: 85%;
  font-weight: normal;
}

.slide-grid ul ul ul,
.slide-grid ul ol ul,
.slide-grid ol ul ul,
.slide-grid ol ol ul {
    list-style-type: disc; /* マーカーの形式 */
}

/* 第三レベル以降も同様に指定する場合 */
.slide-grid ol ol ol,
.slide-grid ol ul ol,
.slide-grid ul ol ol,
.slide-grid ul ul ol {
    list-style-type: lower-latin; 
}

.slide-grid dl {
    margin: 0;
    padding: 0.5em 2em 0.5em 2em; /* インデント */
}

.slide-grid dd {
    margin-bottom: 0.5em;
}

#sec-title-slide p {
    text-align: center;
    text-indent: none;
    padding: 0.5em 0 0.5em 0;
}

#sec-title-slide h1,
#sec-title-slide h2 {
    background: none;
    margin: 0;
    padding: 0;
}

#sec-title-slide h2 {
    padding-top: 0.5em;
}

.onlyheading h1,
.onlyheading h2,
.onlyheading h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    box-sizing: border-box;
}

section.slide-video {
    color: #ffffff;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 100%;
}

h1.title {
    font-size: 140%;
    padding-top: 0.5em;
}

h2.subtitle {
    font-size: 115%;
}

h2.author {
    font-size: 100%;
}

.reveal strong {
    font-weight: bold;
    color: #8b0000;
}

.reveal em {
    font-weight: bold;
    font-style: italic;
    color: #005799;
}

.reveal #slide-bibliography {
    font-size: 14px;
    text-align: left;
}


/* 表のスタイル */
table{
    width: auto;
    border-collapse:separate;
    border-spacing: 0;
}


table th{
    background-color: rgba(128, 128, 128, 0.5);
    border-left: 1px solid white;
    border-right: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

table thead th:first-child,
table tbody td:first-child {
    border-left: none;
}


table td {
    background-color: rgba(200, 200, 200, 0.5);
    border-left: 1px solid white;
    border-right: none;
    border-bottom: 1px solid white;
    border-top: none;
    padding: 10px 0;
}

.header-column td:first-child {
    background-color: rgba(128, 128, 128, 0.5);
    font-weight: bold;
}

table thead tr:first-child,
table tbody tr:last-child {
    border-bottom: none;
}


table thead tr:last-child,
table tbody tr {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

table caption {
    margin-top: 0.5em;
}

.slide-grid td.org-left {
    text-align: left;
}

.slide-grid td.org-right {
    text-align: right; 
}

figure {
    margin: 0 auto;
    padding: 0;
}

.slide-grid figure p {
    text-align: justify;
}    


iframe,
video {
    margin-top: 0.5em;
}
